## IDE
.idea

## Deps
node_modules
test/helper.txt

## Hardhat
.env
cache
artifacts
contracts
typechain

## Subgraph
build
generated
subgraph.yaml
schema.graphql
docker/data
config/localhost.json
scripts/deployConfig.json

graph-node
