## IDE
.idea
.vscode

## Deps
node_modules

## Hardhat
.env
cache
artifacts
contracts
typechain

## Subgraph
build
generated
subgraph.yaml
schema.graphql
docker/data
config/localhost.json
scripts/deployConfig.json

graph-node

test/notes2.txt